In [1]:
import pandas as pd
import numpy as np

In [2]:
# 2011
trip_2011 = pd.read_csv('hubway_Trips_2011.csv')
trip_2011.head()

/Users/shiyunqiu/anaconda3/envs/ipykernel_py3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Duration,Start date,End date,Start station number,Start station name,End station number,End station name,Bike number,Member type,Zip code,Gender
0,1712320,11/30/2011 23:58,12/1/2011 0:26,D32005,Boston Public Library - 700 Boylston St.,D32011,Stuart St. at Charles St.,B00056,Member,2116,Male
1,313200,11/30/2011 23:56,12/1/2011 0:01,C32008,Boylston at Fairfield,D32011,Stuart St. at Charles St.,B00133,Casual,NaN,NaN
2,1111430,11/30/2011 23:18,11/30/2011 23:36,A32009,Tremont St / W Newton St,D32006,Lewis Wharf - Atlantic Ave.,B00471,Member,2109,Male
3,1313487,11/30/2011 23:15,11/30/2011 23:37,A32001,Union Square - Brighton Ave. at Cambridge St.,D32005,Boston Public Library - 700 Boylston St.,B00056,Member,2116,Male
4,345115,11/30/2011 22:59,11/30/2011 23:05,B32008,Mayor Martin J. Walsh - 28 State St.,D32006,Lewis Wharf - Atlantic Ave.,B00174,Member,2109,Male

In [3]:
# 2012
trip_2012 = pd.read_csv('hubway_Trips_2012.csv')
trip_2012.head()

,Duration,Start date,End date,Start station number,Start station name,End station number,End station name,Bike number,Member type,Zip code,Gender
0,1633357,11/28/2012 23:58,11/29/2012 0:25,B32005,Christian Science Plaza,D32011,Stuart St. at Charles St.,T01350,Member,2116,Male
1,336668,11/28/2012 23:55,11/29/2012 0:00,C32010,Congress / Sleeper,C32010,Congress / Sleeper,T01281,Member,2210,Male
2,629081,11/28/2012 23:55,11/29/2012 0:05,M32006,MIT at Mass Ave / Amherst St,D32005,Boston Public Library - 700 Boylston St.,T01056,Member,2115,Male
3,886796,11/28/2012 23:53,11/29/2012 0:08,B32002,Ruggles Station / Columbus Ave.,C32000,Tremont St. at Berkeley St.,T01101,Member,2118,Male
4,669088,11/28/2012 23:41,11/28/2012 23:52,A32012,Packard's Corner - Comm. Ave. at Brighton Ave.,B32015,Landmark Centre,B00163,Member,2215,Female

In [4]:
# 2013
trip_2013 = pd.read_csv('hubway_Trips_2013.csv')
trip_2013.head()

,Duration,Start date,End date,Start station number,Start station name,End station number,End station name,Bike number,Member type,Zip code,Gender
0,249396,12/31/2013 23:25,12/31/2013 23:29,M32037,Ames St at Main St,M32002,One Kendall Square at Hampshire St / Portland St,T01163,Member,2141,Female
1,483531,12/31/2013 22:23,12/31/2013 22:31,M32003,One Broadway / Kendall Sq at Main St / 3rd St,M32011,Central Square at Mass Ave / Essex St,T01396,Member,2138,Male
2,269446,12/31/2013 22:22,12/31/2013 22:27,M32018,Harvard Square at Mass Ave/ Dunster,M32014,Harvard University Housing - 115 Putnam Ave at...,T01230,Member,2138,Male
3,535768,12/31/2013 22:21,12/31/2013 22:30,M32018,Harvard Square at Mass Ave/ Dunster,M32029,Porter Square Station,T01364,Member,2171,Male
4,782939,12/31/2013 21:44,12/31/2013 21:57,M32006,MIT at Mass Ave / Amherst St,M32018,Harvard Square at Mass Ave/ Dunster,T01364,Member,2171,Male

In [5]:
# 2014
trip_2014 = [pd.read_csv('hubway_Trips_2014_1.csv'), 
             pd.read_csv('hubway_Trips_2014_2.csv')]
trip_2014 = pd.concat(trip_2014)
trip_2014.head()

,Duration,Start date,End date,Start station number,Start station name,End station number,End station name,Bike number,Member type,Zip code,Gender
0,483653,6/30/2014 20:06,6/30/2014 20:14,M32026,359 Broadway - Broadway at Fayette Street,M32010,Inman Square at Vellucci Plaza / Hampshire St,B00082,Member,2139,Male
1,265250,6/30/2014 19:33,6/30/2014 19:37,M32026,359 Broadway - Broadway at Fayette Street,M32010,Inman Square at Vellucci Plaza / Hampshire St,T01407,Member,2143,Female
2,1531234,6/30/2014 16:23,6/30/2014 16:48,M32026,359 Broadway - Broadway at Fayette Street,D32022,TD Garden - Causeway at Portal Park #1,B00528,Member,1938,Male
3,1121319,6/30/2014 15:45,6/30/2014 16:03,M32026,359 Broadway - Broadway at Fayette Street,M32001,Lechmere Station at Cambridge St / First St,T01182,Member,2139,Female
4,860523,6/30/2014 23:56,7/1/2014 0:10,C32010,Congress / Sleeper,D32008,Rowes Wharf - Atlantic Ave,B00239,Casual,NaN,NaN

In [6]:
trip_2014.to_csv('hubway_Trips_2014.csv')

In [7]:
# 2015
months = ['01', '02', '03', '04', '05', '06',
         '07', '08', '09', '10', '11', '12']
df_list = []
for i in months:
    df = pd.read_csv('2015'+i+'-hubway-tripdata.csv')
    df_list.append(df)
    
trip_2015 = pd.concat(df_list)
trip_2015.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,542,2015-01-01 00:21:44,2015-01-01 00:30:47,115,Porter Square Station,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.3734,-71.1111,277,Subscriber,1984,1
1,438,2015-01-01 00:27:03,2015-01-01 00:34:21,80,MIT Stata Center at Vassar St / Main St,42.361962,-71.092053,95,Cambridge St - at Columbia St / Webster Ave,42.373,-71.0944,648,Subscriber,1985,1
2,254,2015-01-01 00:31:31,2015-01-01 00:35:46,91,One Kendall Square at Hampshire St / Portland St,42.366277,-71.091690,68,Central Square at Mass Ave / Essex St,42.3651,-71.1031,555,Subscriber,1974,1
3,432,2015-01-01 00:53:46,2015-01-01 01:00:58,115,Porter Square Station,42.387995,-71.119084,96,Cambridge Main Library at Broadway / Trowbridg...,42.3734,-71.1111,1307,Subscriber,1987,1
4,735,2015-01-01 01:07:06,2015-01-01 01:19:21,105,Lower Cambridgeport at Magazine St/Riverside Rd,42.356954,-71.113687,88,Inman Square at Vellucci Plaza / Hampshire St,42.374,-71.1014,177,Customer,1986,2

In [8]:
trip_2015.to_csv('hubway_Trips_2015.csv')

In [9]:
# 2016
months = ['01', '02', '03', '04', '05', '06',
         '07', '08', '09', '10', '11', '12']
df_list = []
for i in months:
    df = pd.read_csv('2016'+i+'-hubway-tripdata.csv')
    df_list.append(df)
    
trip_2016 = pd.concat(df_list)
trip_2016.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1939,2016-01-01 00:08:07,2016-01-01 00:40:26,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,19,Buswell St. at Park Dr.,42.347241,-71.105301,1406,Subscriber,\N,0
1,1927,2016-01-01 00:08:19,2016-01-01 00:40:27,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,19,Buswell St. at Park Dr.,42.347241,-71.105301,1121,Subscriber,\N,0
2,1813,2016-01-01 00:10:15,2016-01-01 00:40:29,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,19,Buswell St. at Park Dr.,42.347241,-71.105301,474,Subscriber,\N,0
3,1788,2016-01-01 00:10:22,2016-01-01 00:40:11,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,19,Buswell St. at Park Dr.,42.347241,-71.105301,1504,Subscriber,\N,0
4,941,2016-01-01 00:15:36,2016-01-01 00:31:17,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,913,Customer,1990,1

In [10]:
trip_2016.to_csv('hubway_Trips_2016.csv')

In [11]:
# 2017
months = ['01', '02', '03', '04', '05', '06',
         '07', '08', '09', '10', '11', '12']
df_list = []
for i in months:
    df = pd.read_csv('2017'+i+'-hubway-tripdata.csv')
    df_list.append(df)
    
trip_2017 = pd.concat(df_list)
trip_2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,350,2017-01-01 00:06:58,2017-01-01 00:12:49,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,139,Dana Park,42.361780,-71.108100,644,Subscriber,1988,1
1,891,2017-01-01 00:13:16,2017-01-01 00:28:07,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,230,Subscriber,1983,1
2,1672,2017-01-01 00:16:17,2017-01-01 00:44:10,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,980,Customer,\N,0
3,747,2017-01-01 00:21:22,2017-01-01 00:33:50,46,Christian Science Plaza,42.343864,-71.085918,19,Buswell St. at Park Dr.,42.347241,-71.105301,1834,Subscriber,1968,1
4,621,2017-01-01 00:30:06,2017-01-01 00:40:28,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,8,Union Square - Brighton Ave. at Cambridge St.,42.353334,-71.137313,230,Subscriber,1983,1

In [12]:
trip_2017.to_csv('hubway_Trips_2017.csv')

In [13]:
# 2018
months = ['01', '02', '03', '04', '05', '06',
         '07', '08', '09']
df_list = []
for i,val in enumerate(months):
    if i<3:
        df = pd.read_csv('2018'+val+'_hubway_tripdata.csv')
    elif i<4:
        df = pd.read_csv('2018'+val+'-hubway-tripdata.csv')
    else:
        df = pd.read_csv('2018'+val+'-bluebikes-tripdata.csv')
    
    df_list.append(df)
    
trip_2018 = pd.concat(df_list)
trip_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,388,2018-01-01 00:16:33,2018-01-01 00:23:01,178,MIT Pacific St at Purrington St,42.359573,-71.101295,107,Ames St at Main St,42.362500,-71.088220,643,Subscriber,1992.0,2
1,265,2018-01-01 00:42:00,2018-01-01 00:46:25,78,Union Square - Somerville,42.379807,-71.093870,225,Cambridge Dept. of Public Works -147 Hampshire...,42.371197,-71.097599,1581,Subscriber,1990.0,1
2,1167,2018-01-01 00:42:44,2018-01-01 01:02:11,16,Back Bay T Stop - Dartmouth St at Stuart St,42.348074,-71.076570,76,Central Sq Post Office / Cambridge City Hall a...,42.366426,-71.105495,173,Subscriber,1990.0,1
3,855,2018-01-01 00:56:50,2018-01-01 01:11:06,69,Coolidge Corner - Beacon St @ Centre St,42.341598,-71.123338,177,University Park,42.362648,-71.100061,1772,Subscriber,1992.0,1
4,487,2018-01-01 01:07:54,2018-01-01 01:16:02,4,Tremont St at E Berkeley St,42.345392,-71.069616,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,1183,Subscriber,1993.0,1

In [14]:
trip_2018.to_csv('hubway_Trips_2018.csv')

In [15]:
station_2016 = pd.read_csv('Hubway_Stations_2011_2016.csv')
station_2016.head()

,Station,Station ID,Latitude,Longitude,Municipality,# of Docks
0,Fan Pier,A32000,42.353287,-71.044389,Boston,15
1,Union Square - Brighton Ave. at Cambridge St.,A32001,42.353334,-71.137313,Boston,15
2,Agganis Arena - 925 Comm Ave.,A32002,42.351246,-71.115639,Boston,19
3,B.U. Central - 725 Comm. Ave.,A32003,42.350406,-71.108279,Boston,11
4,Longwood Ave / Binney St,A32004,42.338629,-71.106500,Boston,15

In [16]:
station_all = pd.read_csv('Hubway_Stations_as_of_July_2017.csv')
station_all.head()

,Station ID,Station,Latitude,Longitude,Municipality,# of Docks
0,C32015,Dudley Town Common - Mt Pleasant Ave at Blue H...,42.325333,-71.075354,Boston,15
1,D32030,Faneuil St at Market St,42.354802,-71.150250,Boston,15
2,E32002,JP Center,42.313156,-71.114140,Boston,15
3,A32000,Fan Pier,42.353287,-71.044389,Boston,15
4,A32001,Union Square - Brighton Ave at Cambridge St,42.353334,-71.137313,Boston,15